<nav class="navbar" [class.scrolled]="isScrolled">
  <div class="navbar-brand" style="display: flex; align-items: center; gap: 10px;">
    <img src="assets/images/vides.png" alt="Logo" style="height: 70px; width: 70px; border-radius: 50%;">
    <a routerLink="/" class="logo" style="font-size: 1.5rem; font-weight: bold; text-decoration: none; color: #333;">VIDESTECH</a>
  </div>

  <div class="navbar-menu">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
    <a routerLink="/about" routerLinkActive="active">Sobre Mí</a>
    <a routerLink="/projects" routerLinkActive="active">Proyectos</a>
    <a routerLink="/contact" routerLinkActive="active">Contacto</a>
  </div>

  <div class="hamburger-menu" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>
<div class="mobile-menu" [class.open]="menuOpen">
  <br>
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeMenu()">Inicio</a>
  <a routerLink="/about" routerLinkActive="active" (click)="closeMenu()">Sobre Mí</a>
  <a routerLink="/projects" routerLinkActive="active" (click)="closeMenu()">Proyectos</a>
  <a routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">Contacto</a>
</div>
