<section class="projects-section">
  <div class="container">
    <br>
    <h2>Mis Proyectos</h2>

    <div class="projects-grid">
      <!-- Proyecto 1 -->

      <div class="project-card">
        <div class="project-image">
          <img src="assets/images/Rest-TruequeApp.png" alt="Proyecto 1">
        </div>
        <div class="project-content">
          <h3>TruequeApp Spring boot</h3>
          <p class="project-description">
            API REST de sistema de intercambios.
          </p>
          <div class="project-tech">
            <span>Java</span>
            <span>Spring Boot</span>
            <span>JWT</span>
            <span>OpenAPI</span>
          </div>
          <div class="project-links">
            <a href="https://github.com/JoseVides17/truequeapp.git" target="_blank" class="btn-code">Ver Código</a>
          </div>
        </div>
      </div>

      <!-- Proyecto 2 -->

      <div class="project-card">
        <div class="project-image">
          <img src="assets/images/logo.png" alt="Proyecto 1">
        </div>
        <div class="project-content">
          <h3>PetClinic Angular-19</h3>
          <p class="project-description">
            Proyecto de cliente en angular 19 donde consumo un API REST de una clínica veterinaria.
          </p>
          <div class="project-tech">
            <span>Angular</span>
            <span>Node.js</span>
            <span>TailwindCSS</span>
            <span>Typescript</span>
          </div>
          <div class="project-links">
            <a href="https://github.com/JoseVides17/petclinic-angular-19.git" target="_blank" class="btn-code">Ver Código</a>
          </div>
        </div>
      </div>

      <!-- Proyecto 3 -->
      <div class="project-card">
        <div class="project-image">
          <img src="assets/images/angular.png" alt="Proyecto 2">
        </div>
        <div class="project-content">
          <h3>Mi portafolio Angular</h3>
          <p class="project-description">
            Proyecto de portafolio personal desarrollado en Angular, donde muestro mis habilidades y proyectos.
          </p>
          <div class="project-tech">
            <span>Angular</span>
            <span>Typescript</span>
            <span>EmailJS</span>
          </div>
          <div class="project-links">
            <a href="https://github.com/JoseVides17/portafolio-angular.git" target="_blank" class="btn-code">Ver Código</a>
          </div>
        </div>
      </div>

      <!-- Proyecto 4 -->
      <div class="project-card">
        <div class="project-image">
          <img src="assets/images/react.png" alt="Proyecto 3">
        </div>
        <div class="project-content">
          <h3>Mi portafolio React</h3>
          <p class="project-description">
            Proyecto de portafolio personal desarrollado en React, donde muestro mis habilidades y proyectos.
          </p>
          <div class="project-tech">
            <span>React</span>
            <span>Next.js</span>
            <span>TailwindCSS</span>
            <span>Typescript</span>
            <span>Node.js</span>
            <span>NodeMailer</span>

          </div>
          <div class="project-links">
            <a href="https://github.com/JoseVides17/mi-portafolio.git" target="_blank" class="btn-code">Ver Código</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
